@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: dreamAvenue;
  src: url("./assets//fonts/FontsFree-Net-Dream-Avenue.ttf")
}

@theme {
    --font-body: "Raleway", sans-serif;
    --font-dream: "dreamAvenue", serif;
  
    --breakpoint-tablet: 600px;
    --breakpoint-laptop: 1025px;
    --breakpoint-desktop: 1300px;
  
    --color-light: rgb(240,208, 195);
    --color-warm-white: rgb(252, 250, 243);
    --color-light-purple: rgb(244 183 214);
  
    --animate-bounce: bounce 1s infinite ease-in-out;
    --animate-bounce-delay1: bounce 1s infinite ease-in-out 0.3s;
    --animate-bounce-delay2: bounce 1s infinite ease-in-out 0.5s;
    --animate-longFadeIn: fadeIn 3s ease-in both;
    --animate-fadeIn: fadeIn 1s ease-in both;
    --animate-spin: spin 4s ease-in infinite;
    
   
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes bounce {
    0% { transform: translateY(0) }
    50% { transform: translateY(-3px)}
    100% { transform: translateY(0)}
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  }
  